dungeon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.w3schools.com/CodeQuest"
    elementFormDefault="qualified"
    xmlns="http://www.w3schools.com/CodeQuest dungeon.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="dungeon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="room">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:integer"/>
							<xs:element name="name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>